#jinja2: trim_blocks:False
#!/usr/bin/zsh

{% include "./commands/btrfs.sh" %}
{% include "./commands/c++-lang.sh" %}
{% include "./commands/compression.sh" %}
{% include "./commands/docker.sh" %}
{% include "./commands/file-directory.sh" %}
{% include "./commands/git.sh" %}
{% include "./commands/network.sh" %}
{% include "./commands/process.sh" %}
{% include "./commands/snapper.sh" %}
{% include "./commands/snmp.sh" %}
{% include "./commands/ssh.sh" %}
{% include "./commands/systemd-analyze.sh" %}
{% include "./commands/systemd-journalctl.sh" %}
{% include "./commands/systemd-machinectl.sh" %}
{% include "./commands/systemd-nspawn.sh" %}
{% include "./commands/systemd-resolvectl.sh" %}
{% include "./commands/systemd-systemctl.sh" %}
{% include "./commands/system.sh" %}
{% include "./commands/user-group.sh" %}
{% include "./commands/utility.sh" %}
{% include "./commands/vagrant.sh" %}
{% include "./commands/wget-curl.sh" %}
{% include "./commands/zypper.sh" %}

{% include "./commands/go-lang.sh" %}
{% include "./commands/maven.sh" %}
{% include "./commands/rust-lang.sh" %}
