[user]
	useConfigOnly = True
	name = {{ git_user_name | mandatory }}
	email = {{ git_user_email | mandatory }}
[commit]
	template = ~/.gitmessage
[alias]
	ggrep = grep --break --heading --line-number
[oh-my-zsh]
	hide-dirty = 1

[difftool]
	prompt = false
[diff]
	tool = kdiff3
[difftool "kdiff3"]
	trustExitCode = false

[mergetool]
	prompt = false
[merge]
	tool = kdiff3
[mergetool "kdiff3"]
	trustExitCode = false
