#jinja2: trim_blocks:False

{% include "./commands/aria2.toml" %}
{% include "./commands/bcc-tools.toml" %}
{% include "./commands/bpftrace.toml" %}
{% include "./commands/btrfs.toml" %}
{% include "./commands/c++-lang.toml" %}
{% include "./commands/compression.toml" %}
{% include "./commands/date.toml" %}
{% include "./commands/debug.toml" %}
{% include "./commands/docker.toml" %}
{% include "./commands/elf.toml" %}
{% include "./commands/file-directory.toml" %}
{% include "./commands/git.toml" %}
{% include "./commands/netcat.toml" %}
{% include "./commands/network.toml" %}
{% include "./commands/perf.toml" %}
{% include "./commands/process.toml" %}
{% include "./commands/search.toml" %}
{% include "./commands/snapper.toml" %}
{% include "./commands/snmp.toml" %}
{% include "./commands/socat.toml" %}
{% include "./commands/sql.toml" %}
{% include "./commands/ssh.toml" %}
{% include "./commands/system.toml" %}
{% include "./commands/systemd-analyze.toml" %}
{% include "./commands/systemd-journalctl.toml" %}
{% include "./commands/systemd-machinectl.toml" %}
{% include "./commands/systemd-nspawn.toml" %}
{% include "./commands/systemd-resolvectl.toml" %}
{% include "./commands/systemd-systemctl.toml" %}
{% include "./commands/user-group.toml" %}
{% include "./commands/utility.toml" %}
{% include "./commands/vagrant.toml" %}
{% include "./commands/wget-curl.toml" %}
{% include "./commands/xargs.toml" %}
{% include "./commands/zypper.toml" %}

{% include "./commands/go-lang.toml" %}
{% include "./commands/maven.toml" %}
{% include "./commands/rust-lang.toml" %}
